#heading{
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: blue;
}
#header{
    font-style: bold;
}
}
.para{
    font-size:25px ;
}
.lists{
    font-size: 25px;
}
h1.lists{
   font-style: bold;
}